@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot");
  src: url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}
/* line 15, ../sass/main.scss */
.main {
  max-width: 1200px !important;
  margin: auto;
}

/* line 20, ../sass/main.scss */
.navbar {
  border-radius: 0px;
  background-color: #DBB84D;
  border: none;
  max-height: 50px;
  margin-bottom: 0px;
}
/* line 27, ../sass/main.scss */
.navbar a {
  color: black !important;
  margin-right: 20px;
}

/* line 34, ../sass/main.scss */
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover,
.dropdown-toggle.active {
  background-color: #FFB84D;
}
